@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1A1A40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100%;
  /* position: relative; */
  
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoWrapper {
  background: #1A1A40;
  border: 1px solid #8758ff;
  margin-top: 15rem;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0008);
  transition: all 0.2s ease-in-out;
}

.TodoWrapper:hover {
  color: #8758ff;
  box-shadow: 0 0 10px #c5aeff,
    0 0 20px #8758ff,
    0 0 40px #8758ff;
}

.TodoForm {
  width: 100%;
}

.TodoInput {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #8758ff;
}

.TodoInput::placeholder {
  color: #c5aeff4d;
}

.TodoButton {
  background: #8758ff;
  color: #1A1A40;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #1A1A40;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
  color: #1A1A40;
}

.fa-pen-to-square {
  color: #1A1A40;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.Head {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  position: absolute;
  top: 50px;
  font-size: 6em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  Line-height: 0.70em;
  outline: none;
  animation: animate1 5s linear infinite;
}

@keyframes animate1 {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #1A1A40;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #8758ff,
      0 0 20px #8758ff,
      0 0 40px #8758ff,
      0 0 80px #8758ff,
      0 0 160px #8758ff;
  }
}

@media(width<700px) {
  h2 {
    font-size: 50px;
  }

  .Box {
    width: 20rem;
    margin-top: -60px;
  }

  .TodoInput {
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .TodoInput::placeholder {
    font-size: 15px;
  }

  .TodoButton {
    border-radius: 5px;
    margin-left: 110px;
  }

  .Todo {
    margin-top: 15px;
  }
}

@media(height<400px) {
  h2 {
    font-size: 50px;
    position: fixed;
    right: 200px;
    top: 150px;
  }

  .Box {
    width: 20rem;
    margin-top: -227px;
    margin-left: 400px;
  }

  .TodoInput {
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .TodoInput::placeholder {
    font-size: 15px;
  }

  .TodoButton {
    border-radius: 5px;
    margin-left: 110px;
  }

  .Todo {
    margin-top: 15px;
  }

  footer img{
    height: 50px;
  }
}

footer{
  display: flex;
  z-index: -1;
  margin-top: 2rem;
}

footer img{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
